@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: table;
  margin: auto;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background-color: #132a22;
  justify-content: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

i {
  font-size: 60px;
}

h1 {
  font-size: 72px;
  letter-spacing: 2px;
}

h2 {
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 40px;
}

.btn__secondary {
  border-radius: 6px;
  border: none;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
  background-color: #2c463a;
  color: #d4dab8;
}

/* NAVIGATION */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navigation a {
  color: #ffffff;
  font-size: 20px;
}

.header__navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navlinks ul {
  display: flex;
}

.header__navlinks li {
  padding: 20px;
}

.header__navlinks button {
  margin: 20px;
}

.navigation__logo {
  letter-spacing: 2px;
}

.navigation__logo i {
  font-size: 18px;
}

.navintro__wrapper--background {
  background-image: url(./images/introimagetwodogs.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 90vh;
}

/* INTRO  */

.intro {
  padding-top: 40px;
}

.intro__wrapper {
  padding: 20px;
}

.intro__text {
  padding: 20px;
  width: 100%;
  max-width: 500px;
  color: #d4dab8;
  font-size: 28px;
}

.intro__text h1 {
  padding-bottom: 20px;
  color: #ffffff;
}

.intro__text p {
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 1.5px;
}

.header__navlinks i {
  font-size: 20px;
}

/* ABOUT ME */

.aboutme {
  padding-top: 60px;
  background-color: #faf3e2;
  color: #1b322b;
}

.aboutme__wrapper {
  display: flex;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}

.aboutmetree {
  padding-left: 20px;
  padding-right: 20px;
}

.aboutme__textintro {
  min-width: 25%;
  width: 100%;
  padding: 20px;
  letter-spacing: 1px;
}

.aboutme__textintro h2 {
  padding-bottom: 20px;
}

.aboutme__textintro p {
  padding-bottom: 20px;
  font-size: 24px;
}

.aboutme__highlights {
  display: flex;
  padding-left: 30px;
}

.highlight {
  padding: 30px;
  font-size: 18px;
  align-items: center;
  text-align: center;
}

.highlight h3 {
  font-weight: 600;
  line-height: 2;
}

/* PROJECTS */

.projects {
  padding-top: 60px;
  background-color: #2c463a;
  background-image: url(./images/greensect.png);
  background-repeat: no-repeat;
  background-position: top;
  color: #ffffff;
  min-height: 600px;
}

.projects a {
  color: #d4dab8;
}

.projects__wrapper {
  display: grid;
  background-color: #2c463a;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 600px;
}

.projects__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 20px;
  letter-spacing: 1.5px;
}

.projects__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.projectcard {
  width: 33%;
  align-items: center;
  padding-right: 0px;
  flex: 1 1 300px;
}

.projectcard img {
  width: 100%;
  height: auto;
  display: block;
}

.projectcard ul {
  display: flex;
}

.projectcard li {
  padding-right: 16px;
}

.projectcard__text {
  max-width: 70%;
}

/* SKILLS */

.skills {
  padding-top: 60px;
  background-color: #faf3e2;
  color: #1b322b;
  background-image: url("./images/beigesect.png");
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 200;
}

.skills__wrapper {
  display: grid;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.skills__grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.skill {
  font-size: 24px;
  align-items: center;
  text-align: center;
}

.skills__wrapper h2 {
  padding-bottom: 40px;
}

/* CONTACT */

.contact {
  padding-top: 60px;
  background-color: #faf3e2;
  color: #ffffff;
  font-size: 24px;
}

.contact a {
  color: #ffffff;
}

.contact__wrapper {
  display: flex;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 70px;
  background-image: url(./images/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 500px;
}

.contact__text {
  width: 22%;
  letter-spacing: 1px;
}

.contact__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.contactlink {
  display: flex;
  align-items: center;
  padding: 20px 40px;
}

.contactlink button {
  font-size: 22px;
  letter-spacing: 2px;
  padding: 14px;
  background-color: #4b6b5c;
  border: none;
}

.contactlink i {
  font-size: 22px;
}

/* FOOTER */

.footer {
  background-color: #132a22;
  color: #ffffff;
  font-size: 20px;
}

.footer__wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

/**/
/**/
/**/
/* MEDIA QUERIES */
/**/
/**/
/**/
/* EXTRA SMALL, SMALL, MEDIUM, LARGE, EXTRA LARGE DEVICES /**/
/**/
/**/
/**/

/**/
/* EXTRA SMALL DEVICES */ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/
/* OPTIMIZED FOR 6.3inch iPhone Screen */ /**/
/**/
@media (min-width: 300px) and (max-width: 600px) {
  body {
    max-width: 393px;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 28px;
  }

  .btn__secondary {
    font-size: 14px;
  }

  .navintro__wrapper--background {
    background-position: top left;
  }

  /* NAVIGATION */ /* EXTRA SMALL DEVICES*/
  .navigation {
    padding: 8px;
  }

  .navigation a {
    font-size: 12px;
  }

  .header__navlinks li {
    padding: 10px;
  }

  .header__navlinks i {
    display: none;
  }

  .navigation__logo i {
    font-size: 10px;
  }

  .navintro__wrapper--background {
    min-height: 80vh;
  }

  .container {
    max-width: 393px;
    width: 100%;
    margin: 0;
  }

  /* INTRO  */ /* EXTRA SMALL DEVICES*/
  .intro {
    padding-top: 80px;
  }

  .intro__text {
    padding: 10px;
    max-width: 350px;
    font-size: 18px;
  }

  .intro__text h1 {
    padding-bottom: 8px;
  }

  .intro__text p {
    padding-top: 10px;
    padding-bottom: 30px;
  }

  /* ABOUT ME */ /* EXTRA SMALL DEVICES*/
  .aboutme {
    padding-top: 0px;
  }
  .aboutme__wrapper {
    padding: 10px;
    padding-left: 10px;
    padding-right: 0px;
  }

  .aboutmetree {
    display: none;
    width: 20px;
  }

  .aboutme__textintro {
    min-width: 25%;
    padding: 10px;
    letter-spacing: 0.5px;
  }

  .aboutme__textintro h2 {
    padding-bottom: 10px;
  }

  .aboutme__textintro p {
    padding-bottom: 16px;
    padding-top: 12px;
    font-size: 16px;
  }

  .aboutme__highlights {
    padding-left: 20px;
  }

  .aboutmehighlight__image {
    display: none;
  }

  .aboutme__highlights {
    display: none;
  }

  /* PROJECTS */ /* EXTRA SMALL DEVICES*/
  .projects {
    padding-top: 60px;
    min-height: 200px;
  }

  .projects__wrapper {
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 200px;
  }

  .projects__grid {
    align-items: center;
    justify-content: center;
  }

  .projects__header {
    padding-bottom: 20px;
  }

  /* SKILLS */ /* EXTRA SMALL DEVICES*/
  .skills {
    padding-top: 60px;
    min-height: 100px;
  }

  .skills__wrapper {
    padding: 10px;
  }

  .skills__wrapper h2 {
    padding-bottom: 20px;
  }

  .skills__grid {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
  }

  .skill {
    padding: 3px;
  }

  /* CONTACT */ /* EXTRA SMALL DEVICES*/
  .contact {
    padding-top: 30px;
    font-size: 14px;
  }

  .contact__wrapper {
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    min-height: 180px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .contact__text {
    display: none;
  }

  .contact__links {
    padding: 16px;
  }

  .contactlink {
    padding: 4px;
  }

  .contactlink button {
    font-size: 14px;
    letter-spacing: 2px;
    padding-left: 10px;
    background-color: #4b6b5c;
    border: none;
  }

  .contactlink i {
    font-size: 20px;
  }

  /* FOOTER */ /* EXTRA SMALL DEVICES*/
  .footer__wrapper {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }

  h2 {
    letter-spacing: 1.3px;
    font-size: 20px;
  }
}

/**/
/* SMALL DEVICES */ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/
/**/

@media (min-width: 600px) and (max-width: 768px) {
  body {
    max-width: 768px;
  }

  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 30px;
  }

  .btn__secondary {
    font-size: 14px;
  }

  /* NAVIGATION */ /*SMALL DEVICES*/
  .navigation {
    padding: 8px;
  }

  .navigation a {
    font-size: 16px;
  }

  .header__navlinks li {
    padding: 10px;
  }

  .navigation__logo i {
    font-size: 14px;
  }

  .navintro__wrapper--background {
    min-height: 70vh;
  }

  .container {
    max-width: 600px;
    width: 100%;
    margin: 0;
  }

  /* INTRO  */ /*SMALL DEVICES*/
  .intro {
    padding-top: 20px;
  }

  .intro__text {
    padding: 10px;
    max-width: 300px;
    font-size: 20px;
  }

  .intro__text h1 {
    padding-bottom: 0px;
  }

  .intro__text p {
    padding-top: 10px;
    padding-bottom: 25px;
  }

  /* ABOUT ME */ /*SMALL DEVICES*/
  .aboutme {
    padding-top: 0px;
  }

  .aboutme__wrapper {
    padding: 10px;
    padding-left: 10px;
    padding-right: 0px;
  }

  .aboutmetree {
    display: none;
    width: 20px;
  }

  .aboutme__textintro {
    min-width: 25%;
    padding: 10px;
    letter-spacing: 0.5px;
  }

  .aboutme__textintro h2 {
    padding-bottom: 10px;
  }

  .aboutme__textintro p {
    padding-bottom: 12px;
    font-size: 14px;
  }

  .aboutme__highlights {
    padding-left: 20px;
  }

  .aboutmehighlight__image {
    width: 65px;
  }

  .aboutme__highlights {
    display: flex;
    padding-left: 10px;
  }

  .highlight {
    padding: 6px;
    font-size: 12px;
    align-items: center;
    text-align: center;
  }

  .highlight h3 {
    font-weight: 400;
    line-height: 2;
  }

  /* PROJECTS */ /*SMALL DEVICES*/
  .projects {
    padding-top: 40px;
    min-height: 200px;
  }

  .projects__wrapper {
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 200px;
  }

  .projects__grid {
    align-items: center;
    justify-content: center;
  }

  .projects__header {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* SKILLS */ /*SMALL DEVICES*/
  .skills {
    padding-top: 40px;
    min-height: 100px;
  }

  .skills__wrapper {
    padding: 40px;
  }

  .skills__grid {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }

  .skills__wrapper h2 {
    padding-bottom: 20px;
  }

  /* CONTACT */ /*SMALL DEVICES*/
  .contact {
    padding-top: 30px;
    font-size: 14px;
  }

  .contact__wrapper {
    min-height: 200px;
  }

  .contact__text {
    display: none;
  }

  .contact__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
  }

  .contactlink {
    display: flex;
    align-items: center;
    padding: 4px;
  }

  .contactlink button {
    font-size: 14px;
    letter-spacing: 2px;
    padding: 14px;
    background-color: #4b6b5c;
    border: none;
  }

  .contactlink i {
    font-size: 20px;
  }

  /* FOOTER */ /*SMALL DEVICES*/
  .footer__wrapper {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  h2 {
    letter-spacing: 1.3px;
    font-size: 20px;
  }
}

/**/
/*MEDIUM DEVICES*/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/
/**/

@media (min-width: 768px) and (max-width: 992px) {
  body {
    max-width: 992px;
  }

  h2 {
    letter-spacing: 1.1px;
    font-size: 28px;
  }

  .container {
    max-width: 992px;
    width: 100%;
    margin: 0;
  }

  /* ABOUT ME */ /* MEDIUM DEVICES */
  .aboutme {
    padding-top: 0px;
  }

  .aboutme__tree {
    width: 60px;
  }

  .aboutme__textintro {
    min-width: 25%;
    padding: 0px 40px;
  }

  .aboutme__textintro p {
    padding-bottom: 24px;
    font-size: 18px;
  }

  .aboutme__textintro h2 {
    padding-bottom: 20px;
  }

  .aboutme__highlights {
    display: flex;
    padding-left: 10px;
  }

  .aboutmehighlight__image {
    width: 80px;
  }

  .highlight {
    padding: 6px;
    font-size: 14px;
    align-items: center;
    text-align: center;
  }

  .highlight h3 {
    font-weight: 600;
    line-height: 1.5;
  }

  /* PROJECTS */ /* MEDIUM DEVICES */
  .projects__header {
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .projectcard {
    max-width: 450px;
  }

  /* SKILLS */ /* MEDIUM DEVICES */

  .skills__wrapper {
    padding: 10px 80px;
  }

  /* CONTACT */ /* MEDIUM DEVICES */
  .contact {
    font-size: 14px;
  }

  .contact__wrapper {
    min-height: 300px;
    align-items: center;
    justify-content: center;
  }

  .contact__text {
    width: 25%;
    letter-spacing: 1.2px;
  }

  .contact__text h2 {
    padding-bottom: 20px;
  }

  .contact__text p {
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 18px;
  }
  .contact__links {
    display: flex;
    justify-content: space-beween;
    align-items: center;
    padding: 2px;
  }

  .contactlink {
    display: flex;
    align-items: center;
    padding: 4px;
  }

  .contactlink button {
    font-size: 14px;
    letter-spacing: 2px;
    padding: 14px;
    background-color: #4b6b5c;
    border: none;
  }

  .contactlink i {
    font-size: 20px;
  }
}

/**/ /**/
/* LARGE DEVICES */ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/
/**/ /**/
@media (min-width: 992px) and (max-width: 1200px) {
  body {
    max-width: 1200px;
  }

  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0;
  }

  /* ABOUT ME */ /* LARGE DEVICES */
  .aboutme {
    padding-top: 0px;
  }

  .aboutme__tree {
    width: 80px;
  }

  .aboutme__textintro {
    min-width: 20%;
    width: 100%;
    padding-left: 40px;
    padding-right: 30px;
    letter-spacing: 0.6px;
  }

  .aboutme__textintro p {
    font-size: 24px;
  }

  .aboutme__highlights {
    padding-left: 0px;
  }

  .highlight {
    padding: 20px;
  }

  .highlight h3 {
    font-weight: 600;
    line-height: 1.8;
  }

  .aboutmehighlight__image {
    width: 100px;
  }

  /* PROJECTS */ /* LARGE DEVICES */
  .projects__header {
    padding-top: 0px;
    align-items: center;
  }

  .projectcard {
    max-width: 450px;
  }

  /* SKILLS */ /* LARGE DEVICES */
  .skills {
    padding: 60px 80px;
  }

  /* CONTACT */ /* LARGE DEVICES */
  .contact {
    font-size: 24px;
  }

  .contact h2 {
    font-size: 28px;
    padding-bottom: 20px;
  }

  .contact__wrapper {
    min-height: 400px;
  }

  .contact__text {
    width: 35%;
    letter-spacing: 1px;
    padding-right: 40px;
    align-items: center;
    justify-content: center;
  }

  .contact__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
  }

  .contactlink {
    display: flex;
    align-items: center;
    padding: 8px 8px;
  }

  .contactlink button {
    font-size: 22px;
    letter-spacing: 2px;
    padding: 14px;
    background-color: #4b6b5c;
    border: none;
  }

  .contactlink i {
    font-size: 22px;
  }
}

/**/ /**/
/* EXTRA LARGE DEVICES*/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/
/**/ /**/
@media (min-width: 1200px) and (max-width: 3000px) {
  body {
    max-width: 1580px;
  }

  .container {
    max-width: 1580px;
  }

  .btn__secondary {
    font-size: 24px;
    padding: 12px 36px;
    letter-spacing: 2.5px;
  }

  /* INTRO */ /* EXTRA LARGE DEVICES*/
  .intro__wrapper {
    padding-top: 130px;
  }

  .intro h1 {
    font-size: 82px;
  }

  .intro p {
    padding-bottom: 60px;
    font-size: 32px;
  }

  /* ABOUT ME */ /* EXTRA LARGE DEVICES*/
  .aboutmehighlight__image {
    width: 130px;
  }

  .aboutme__textintro {
    padding-left: 54px;
  }

  /* PROJECTS */ /* EXTRA LARGE DEVICES*/
  .projects__wrapper {
    padding: 40px 60px;
  }

  .projects__header {
    padding-bottom: 40px;
    align-items: center;
  }

  .projects__header a {
    font-size: 18px;
  }

  /*SKILLS*/ /* EXTRA LARGE DEVICES*/
  .skills__wrapper {
    padding-left: 80px;
  }

  .skills__grid {
    padding: 20px 100px;
  }

  .contact__wrapper {
    padding: 96px;
  }

  .contact__text h2 {
    padding-bottom: 24px;
  }
}
